.product-form {
  display: flex;
  flex-direction: column;
  row-gap: 0.5em;
  flex-grow: 1;

  label {
    display: flex;
    align-items: center;
  }

  input[type=text], input[type=number], input[type=date] {
    margin-left: 1em;
    padding: 4px;
    flex: 1;
  }

  button {
    background-color: #1460aa;
    border: none;
    color: white;
    padding: 0.5em;
    border-radius: 4px;
  }
}